{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        "Mentee | MRRosa"
    </title>
    <link rel='stylesheet' href="{%static 'css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{%static 'css/css_style.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-12">
            <hr>
        </div>
        <div class="row aboutheader">
            <div class="col-md-3 offset-md-1">
                <h4>Alpha Tech Academy</h4>
            </div>
            <div class="col-md-7">
                <nav>
                    <ul class="nav justify-content-end headerlist">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mentor' %}">Mentor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mentee' %}">Mentee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'author' %}">Author</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="album">
        <div class="container">
            <div class="row ">
                <div class="col-12 text-center">
                    <div id = "paragraf1">
                        <img id="logoata" src="{% static 'img/alpha-logo.png' %}"/>
                        <h2>Alpha Tech Academy</h2>
                        <p>Alpha Tech Academy is a tech talent incubator that gives everyone (even non IT background)
                                a chance to be a professional Tech Talent within 3 months. Contact Person: Email: academy@alphatech.id
                                Mobile phone: 0877 9609 9530 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 offset-md-5 col-sm-12 col-12">
                    <h2>Our Mentor</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-1 col-sm-12 col-12">
                    <div id="menteepict">
                        <img id="menteepict" src="{% static 'img/people-andreas.png' %}"/>
                    </div>
                </div>
                <div class="col-md-4 offset-md-0 col-sm-12 col-12">
                    <div id="menteecomment">
                        <h3>Andreas Nugroho</h3>
                        <h6>Software Ninja (5 years experience)</h6>
                        <p>"Great place to learn about programming. Come join us!."</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-1 col-sm-12 col-12">
                    <div id="menteepict">
                        <img id="menteepict" src="{% static 'img/people-ramdhan.png' %}"/>
                    </div>
                </div>
                <div class="col-md-4 offset-md-0 col-sm-12 col-12">
                    <div id="menteecomment">
                        <h3>Ramdhan Hidayat</h3>
                        <h6>Master Chaos (10 years experience)</h6>
                        <p>"We make this program with passion, hard work and heart. Let's get rock with us!"</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-1 col-sm-12 col-12">
                    <div id="menteepict">
                        <img id="menteepict" src="{% static 'img/people-trimo.png' %}"/>
                    </div>
                </div>
                <div class="col-md-4 offset-md-0 col-sm-12 col-12">
                    <div id="menteecomment">
                            <h3>Trimo Leksono</h3>
                            <h6>Magician (8 years experience)</h6>
                            <p>"The best place for someone who want to be a great IT talent."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="footer1">
            <div class="row footer"> 
                <div class="col-md-2 offset-md-2">
                    <h4>Our Product:</h4>
                </div>
                <div class="col-md-1">
                    <img src="{% static 'img/logo-grey-alphapay.png' %}"/>
                </div>
                <div class="col-md-1 offset-md-1">
                    <img src="{% static 'img/logo-grey-sepulsa.png' %}"/>
                </div>
                <div class="col-md-1 offset-md-1">
                    <img src="{% static 'img/logo-grey-alphabill.png' %}"/>
                </div>
            </div>
        </div>
        <div class="footer2">
            <div class="row footer"> 
                <div class="col-md-12">
                    <h4>Contact Person: Mobile Phone: 0877 9609 9530. Email: academy@alphatech.id</h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>